<%- include('partials/form', { action: '/api/auth/forgot-password', fields: [
  { name: 'email', type: 'email', placeholder: 'Your university email' }
], submitText: 'Send Reset Link' }) %>

<div id="response" class="response"></div>
