<h1>Give Reviews</h1>
<ul>
  <% offerings.forEach(function(o){ %>
    <li>
      <strong><%= o.course && o.course.title ? o.course.title : 'Course' %></strong>
      by <%= o.teacher && o.teacher.name ? (o.teacher.name.first || o.teacher.name.last) : 'Teacher' %>
      <% if (o.section) { %> (Section <%= o.section %>) <% } %>
      - <a href="/ratings/form?offering=<%= o._id %>">Give Review</a>
    </li>
  <% }) %>
</ul>
